<section>
  <div
    class="container is-flex is-justify-content-space-between is-flex-wrap-wrap mt-6"
  >
    <% products.forEach(product=> { %>
    <div id="<%= product.id%>" onclick="showProductDetail('<%= product.id%>');"  class="card is-align-content-space-between" style="width: 150px; margin: 20px">
      <div class="card-image" style="padding: 15px">
        <figure class="image is-4by3">
          <img src="<%= product.thumbnail %>" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-6"><%=product.title %></p>
            <p class="subtitle is-6">$ <%=product.price %></p>
          </div>
        </div>
      </div>
      <footer class="is-flex">
        <form action="/api/productos/actualizar/<%= product.id%>" method="GET">
          <button class="button is-outlined is-link is-small mr-3" type="submit">
            <span class="icon">
              <i class="fas fa-pen"></i>
            </span></button>
        </form>
        <form action="/api/productos/borrar/<%= product.id%>" method="POST">
          <button class="button is-outlined is-danger is-small" type="submit">
            <span class="icon">
              <i class="fas fa-trash"></i>
            </span></button>
        </form>
      </footer>
    </div>
    <% }); %>
  </div>
</section>